.container{
	margin: auto;

	max-width: 1280px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}