.listDropDown {
    position: absolute;
    max-width: 350px;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 16%);
    width: 100%;
    overflow: scroll;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.elementWrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e8edf2;
    padding: 8px 10px;
    cursor: pointer;
}
.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.selectLabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0f0f12;
    margin-bottom: 8px;
    margin-top: 15px;
}

.selectContainer {
    border: 1px solid #e8edf2;
    border-radius: 8px;
    padding: 15px;
    color: #0f0f12;
    font-size: 13px;
}
