.mainWrapper {
    position: relative;
    background-color: var(--neutral-white);
    height: 100%;
}
.mainContainer {
    position: relative;
}
.mainContent {
    position: relative;
    height: 100%;
    padding-left: 80px;
    margin-top: 20px;
    /* max-width: 1400px; */
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
}
